@font-face {
		    font-family: nor;
		    src: url(font/helveticaneuelight.ttf);
}
@font-face {
		    font-family: fbold;
		    src: url(font/helveticaneuebold.ttf);
}
body{
	background-color: #fce9e0;
}

.clear { 
	clear: both;
}

@media (max-width: 599px){
	.contentMain{
		text-align: justify;
		margin-left: 15%; 
		width: 70%;
		padding-top: 30px;
		font-size: 12pt;
		font-family: nor;
	}
	.contentMain:first-letter {
        float: left;
        padding: 4px 8px 4px 0;
        display: inline-block;
        font: 100px/70px nor;
        
    }
	.contentMain2{
		text-align: justify;
		margin-left: 15%; 
		width: 70%;
		font-size: 12pt;
		font-family: nor;
	}
	.divImg1{
		text-align: center;
		width: 100%;
	}
	.img1{
		height: 150px;
		padding-top: 80px;
	}
	.content1{
		width: 100%;
	}
	.content11{
		padding-top: 60px;
		position: relative;
		width: 100%;
		padding-left: 5%;
	}
	.content12{
		padding-top: 40px;
		display: relative;
		text-align: center;
		width: 100%;
	}
	.content22{
		padding-top: 40px;
		text-align: center;
		width: 100%;
	}
	.video{
		width: 85%;
		height: 200px;

	}
	.img111{
		float: left;
		width: 60%;
		margin-left: 30%;
	}
	.img211{
		width: 70%;
		float: left;
		margin-left:20%;
	}
	.text111{
		padding-top: 5%;
		margin-left: 5%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text112{
		padding-top: 24%;
		margin-left: 5%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text113{
		padding-top: 40%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	.text123{
		padding-top: 60%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	
	.img2{
		height: 150px;
		padding-top: 80px;
	}
	.text121{
		padding-top: 25%;
		margin-left: 3%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text122{
		padding-top: 45%;
		margin-left: 3%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.img_slide{
		text-align: center; 
		width: 100%;
		padding-top: 5.5%;
	}
	.content_slide{
		padding-top: 5%;
		text-align: justify;
		font-family: nor;
		font-size: 12pt;
		padding-left: 15%;
		padding-right: 15%;
	}
	.modify_img_slide{
		width: 70%;
	}
	.mySlides{
		
	}
	.contentMain3_PC{
		display: none;
	}
	.footerPC{
		display: none;
	}
	.imgFooter{
		width: 100%;
	}
	.footerMob{
		width: 100%;
		margin-top: 15%;
		margin-bottom: 30px;
	}

}

@media (min-width: 600px) and (max-width: 1200px) {
	.contentMain{
		text-align: justify;
		margin-left: 15%; 
		width: 70%;
		padding-top: 60px;
		font-size: 14pt;
		font-family: nor;
	}
	.contentMain:first-letter {
        float: left;
        padding: 4px 8px 4px 0;
        display: inline-block;
        font: 100px/70px nor;
        
    }
	.contentMain2{
		text-align: justify;
		margin-left: 15%; 
		width: 70%;
		font-size: 14pt;
		font-family: nor;
	}
	.divImg1{
		text-align: center;
	}
	.img1{
		height: 165px;
		padding-top: 80px;
	}
	.content1{
		width: 100%;
	}
	.content11{
		padding-top: 60px;
		position: relative;
		float: left;
		width: 45%;
		padding-left: 5%;
	}
	.content12{
		padding-top: 60px;
		display: relative;
		float: left;
		width: 50%;
		padding-left: 10%;
	}
	.content22{
		padding-top: 110px;
		display: block;
		float: left;
		width: 50%;
		padding-left: 10%;
	}
	.video{
		width: 80%;
		height: 200px;

	}
	.img111{
		width: 80%;
		float: left;
		margin-left: 30%;
	}
	.img211{
		width: 80%;
		float: left;
		margin-left: 30%;
	}
	.text111{
		padding-top: 8%;
		margin-left: 2%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text112{
		padding-top: 30%;
		margin-left: 2%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text113{
		padding-top: 50%;
		padding-left: 20%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	.text123{
		padding-top: 70%;
		padding-left: 25%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	
	.img2{
		height: 165px;
		padding-top: 80px;
	}
	.text121{
		padding-top: 25%;
		margin-left: 7%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text122{
		padding-top: 50%;
		margin-left: 7%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.img_slide{
		float: left;
		width: 50%;
		padding-top: 5.5%;
	}
	.content_slide{
		padding-top: 5%;
		float: left;
		width: 40%;
		text-align: justify;
		font-family: nor;
		font-size: 12pt;
	}
	.modify_img_slide{
		width: 70%;
		margin-left: 20%;
	}
	.mySlides{
		
	}
	.contentMain3_PC{
		display: none;
	}
	.footerPC{
		width: 100%;
		margin-top: 45%;
		margin-bottom: 30px;
	}
	.imgFooter{
		width: 100%;
	}
	.footerMob{
		display: none;
	}
}

@media (min-width: 1201px) {
	.contentMain{
		text-align: justify;
		margin-left: 20%; 
		width: 60%;
		padding-top: 70px;
		font-size: 14pt;
		font-family: nor;
	}
	.contentMain:first-letter {
        float: left;
        padding: 4px 8px 4px 0;
        display: inline-block;
        font: 100px/70px nor;
        
    }
	.contentMain2{
		text-align: justify;
		margin-left: 20%; 
		width: 60%;
		font-size: 14pt;
		font-family: nor;
	}
	.img1{
		margin-left: 8%;
		width: 35%;
		padding-top: 80px;
	}
	.content1{
		
	}
	.content11{
		padding-top: 60px;
		position: relative;
		float: left;
		width: 50%;
	}
	.content12{
		padding-top: 20px;
		display: block;
		float: left;
		width: 50%;
	}
	.content22{
		padding-top: 60px;
		display: block;
		float: left;
		width: 50%;
	}
	.img111{
		width: 60%;
		float: left;
		margin-left: 30%;
	}
	.img211{
		width: 60%;
		float: left;
		margin-left: 30%;
	}
	.text111{
		padding-top: 10%;
		margin-left: 16%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text112{
		padding-top: 25%;
		margin-left: 16%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text113{
		padding-top: 40%;
		padding-left: 5%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	.text123{
		padding-top: 51%;
		padding-left: 5%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		font-size: normal;
	}
	
	.img2{
		margin-left: 8%;
		height: 170px;
		padding-top: 80px;
	}
	.text121{
		padding-top: 15%;
		margin-left: 16%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.text122{
		padding-top: 35%;
		margin-left: 16%;
		text-align: center;
		font-family: nor;
		color: #e02f2f;
		position: absolute;
		font-size: normal;
	}
	.img_slide{
		float: left;
		width: 50%;
	}
	.content_slide{
		padding-top: 5%;
		float: left;
		width: 35%;
		text-align: justify;
		font-family: nor;
		font-size: 12pt;
	}
	.modify_img_slide{
		width: 70%;
		margin-left: 20%;
	}
	.mySlides{
		
	}
	.contentMain3_PC{
		text-align: center;
		padding-top: 60px;
		margin-right: 4%;
		margin-left: 4%;
		width: 92%;
	}
	.SlideShow{
		display: none;
	}
	.footerPC{
		width: 100%;
		margin-top: 45%;
		margin-bottom: 30px;
	}
	.imgFooter{
		width: 100%;
	}
	.video{
		width: 560px;
		height: 315px;
	}
	.footerMob{
		display: none;
	}
}